<form class="was-validated">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">商品名稱</label>
        <input id="item_name" type="text" class="form-control" placeholder="輸入商品名稱" aria-label="商品名稱"
            aria-describedby="basic-addon1" required >
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">商品分類</label>
        <input id="category" type="text" class="form-control" placeholder="輸入商品分類" aria-label="商品分類"
            aria-describedby="basic-addon1" required >
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">商品價格</label>
        <input id="price" type="text" class="form-control" placeholder="輸入商品價格" aria-label="商品價格"
            aria-describedby="basic-addon2" required >
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">商品數量</label>
        <input id="quantity" type="text" class="form-control" placeholder="輸入商品數量" aria-label="商品數量"
            aria-describedby="basic-addon1" required >
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">商品折價</label>
        <input id="discount" type="text" class="form-control" placeholder="輸入商品折價" aria-label="商品折價"
            aria-describedby="basic-addon1" required >
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">商品描述</label>
        <input id="description" type="text" class="form-control" placeholder="輸入商品描述" aria-label="商品描述"
            aria-describedby="basic-addon1" required >
    </div>
    <div class="mb-3">
        <label for="formFile" class="form-label">上傳圖片</label>
        <input id="img-file" class="form-control" type="file" accept="image/*" required>
    </div>
    <img id="img" style="width:500px;height: 500px;"/>
</form>